IndentWidth:     4
ColumnLimit:     100
AlignConsecutiveMacros: true

AlignArrayOfStructures: Left

AllowAllArgumentsOnNextLine: false
BinPackArguments: false
BinPackParameters: false

BreakStringLiterals: false