IndentWidth:     4
ColumnLimit:     140
AlignConsecutiveMacros: AcrossEmptyLinesAndComments

AlignArrayOfStructures: Left

AllowAllArgumentsOnNextLine: false
BinPackArguments: false
BinPackParameters: false

BreakStringLiterals: false

AlwaysBreakTemplateDeclarations: Yes
